################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/crash.txt
/bin/Debug/crash2.txt
/.vs/vividstasis Text Editor/FileContentIndex/752e0f62-2167-44ed-be88-ceca304be281.vsidx
